packages/swap-sdk/**/*.ts
src/state/xFarms/**/*.ts
src/views/xFarms/**/*.ts
src/views/xFarms/**/*.tsx
src/pages/xFarms/**/*.tsx
src/views/XToken/**/*.tsx
src/components/Tooltip/**/*.tsx
src/components/DoubleLogo/**/*.tsx
src/state/mint/v3/**/*.ts
src/state/routing/**/*.ts
src/state/transactions/v3/**/*.tsx
src/state/transactions/v3/**/*.ts
src/state/mint/v3/**/*.tsx
src/utils/v3/**/*.ts
src/hooks/v3/**/*.ts
packages/uikit/src/theme/zIndex.ts
src/lib/**/*.ts
src/lib/**/*.tsx
src/pages/addV3/**/*.tsx
src/components/RateToggle/**/*.tsx
src/components/Toggle/**/*.tsx
src/components/NavigationTabs/**/*.tsx
src/components/FeeSelector/**/*.tsx
src/graphql/**/*.ts
scripts/**/*.js
**/*.config.js
src/components/CurrencyInputPanelV3/**/*.tsx
src/pages/positions/**/*.tsx
src/utils/TokenPricing.ts
